<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title style="word-break: keep-all">@ViewData["Title"] CGI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <a class="navbar-brand" style="color: red; font-size: xx-large" asp-area="" asp-controller="Home" asp-action="Index">CGI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Overzicht</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Reservation">Reserveren</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ReportProblem">Probleem melden</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="WallOfShame">Schandpaal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ReservationCreate">Create res</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="navbar-text dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
<<<<<<< Updated upstream
                        <img src="~/img/netherlands.png" width="50" height="30" />
=======
                        <img />
>>>>>>> Stashed changes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" name="ImgNL"><img src="~/img/netherlands.png" width="50" height="30" /></a>
                        <a class="dropdown-item" href="#" name="ImgENG"><img src="~/img/england.png" width="50" height="30"/></a>
                        <a class="dropdown-item" href="#" name="ImgGER"><img src="~/img/germany.png" width="50" height="30" /></a>
                        <a class="dropdown-item" href="#" name="ImgFR"><img src="~/img/france.png" width="50" height="30" /></a>
                    </div>
                </li>
                <form class="form-inline">
                    <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><span>Hello @User.Identity.Name!</span></li>
                        <li><a id="qsLogoutBtn" asp-controller="Account" asp-action="Logout">Logout</a></li>
                    }
                    else
                    {
                        <li><a id="qsLoginBtn" asp-controller="Account" asp-action="Login">Login</a></li>
                    }
                </ul>
                </form>
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - CGI inc - <a asp-area="" asp-controller="Home" asp-action=""></a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>