<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title style="word-break: keep-all">@ViewData["Title"] CGI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <a class="navbar-brand" style="color: red; font-size: xx-large" asp-area="" asp-controller="Home" asp-action="Index">CGI</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">

                    <li class="nav-item dropdown" style="cursor: pointer;">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Vergaderruimtes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="IndexWorkplace">Overzicht</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="ReservationWorkplace">Reserveren</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown" style="cursor: pointer;">
                        <a class="nav-link dropdown-toggle" id="workSpaceDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Werkruimtes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="workSpaceDropdown">
                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Overzicht</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="ReservationCreate">Reserveren</a>
                        </div>
                    </li>



                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ReportProblem">Probleem melden</a>
                    </li>
                    @if (User.IsInRole("ADMIN") || User.IsInRole("SECRETARY")) {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="WallOfShame">Schandpaal</a>
                        </li>
                    }


                </ul>
                <ul class="navbar-nav">
                    <ul class="navbar-nav">
                        <li class="navbar-text dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                <img src="~/img/flags/nl.svg" width="30" height="30"/>
                            </a>
                            <div class="dropdown-menu px-1" aria-labelledby="navbarDropdown" style="min-width: auto; text-align: center;">

                                    <a href="#"><img src="~/img/flags/fr.svg" width="30" height="30" /></a>
                                    <a href="#"><img src="~/img/flags/de.svg" width="30" height="30" /></a>
                                    <a href="#"><img src="~/img/flags/gb.svg" width="30" height="30" /></a>
                            </div>
                        </li>
                        <form class="form-inline pl-5">
                            <ul class="nav navbar-nav navbar-right">
                                @if (User.Identity.IsAuthenticated) {
                                    <li><span>Hello, @User.Claims.FirstOrDefault(c => c.Type == "nickname")?.Value</span></li>
                                    <li style="padding-left: 5px;"><a id="qsLogoutBtn" asp-controller="Account" asp-action="Logout">Uitloggen</a></li>
                                }
                                else {
                                    <li><a id="qsLoginBtn" asp-controller="Account" asp-action="Login">InLoggen</a></li>
                                }
                            </ul>
                        </form>
                    </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - CGI inc - <a asp-area="" asp-controller="Home" asp-action=""></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
