
@{
    ViewData["Title"] = "Probleem melden";
}

<span class="badge badge-warning" style="width:100%;height:100%;font-size:30px">Meld hieronder het probleem</span>

<form>
    <div class="form-group">
        <label for="formGroupExampleInput">Probleem:</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
    </div>
    <button type="button" class="btn btn-danger">Probleem Melden</button>
</form>

