@{
    ViewData["Title"] = "Probleem melden";
}

<body>
<title class="d-inline-flex">
    Meld hieronder het probleem
</title>
<form>
    <div class="form-group">
        <label for="formGroupExampleInput">Probleem:</label>
        <textarea type="text" class="form-control" style="height: 400%" id="formGroupExampleInput" placeholder="Voer probleem hier in..."></textarea>
    </div>
    <button type="button" value="btnMelden" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Probleem Melden</button>
</form>
</body>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Probleem melden</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Het probleem is gemeld!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div>
    @TempData["buttonVal"]
</div>